.footer {
    padding: 45px 0;
    background: var(--footer-bg);
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 19px;
}

.footer__text {
    white-space: pre-line;
    font-size: 12px;
    font-weight: 500;
}

@media( min-width: 321px ){
    .call-button {
        display: none;
    }
}

@media (max-width: 1024px) {

}

@media ( max-width: 320px) {
    .contacts {
        display: none;
    }

    .footer__container {
        flex-wrap: wrap;
    }

    .copyright {
        order: 3;
        flex: 100%;
        text-align: center;
    }
}
