.footer {
    padding: 45px 0;
    background: var(--footer-bg);
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 31px 0 30px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 19px;
}

.footer__text {
    white-space: pre-line;
    font-size: var(--footer-text);
    font-weight: 500;
}

.call {
    font-style: normal;
}
/*
@media( min-width: 481px ){
    .call__button {
        display: none;
    }
}*/

@media (max-width: 1024px) {

}

@media ( max-width: 768px ) {
    .footer {
        padding: 25px 0 0;
    }

    .footer__container {
        flex-wrap: wrap;
        row-gap: 25px;
        padding: 0;
    }

    .copyright {
        order: 3;
        flex: 100%;
        text-align: center;
        padding: 15px 0;
        background: var(--copyright-bg);
    }

    .footer-logo {
        padding-left: 30px;
    }

    .footer__contacts {
        padding-right: 30px;
    }
}

@media ( max-width: 480px ) {
    /*.contacts {
        display: none;
    }*/

    .footer-logo {
        padding-left: 15px;
    }

    .footer__contacts {
        padding-right: 15px;
    }
}
